.articles {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  @include bp(tablet) {
    width: 100%;
    flex-wrap: nowrap;
  }
  &-preview,
  &-view {
    flex-direction: column;
    height: 100%;
  }
  &-preview {
    flex-basis: 25%;
    border-right: 1px solid $c_main_border;
    overflow-y: scroll;
    background-color: $c_bg;
    @include bp(tablet) {
      min-width: 100px;
    }
  }
  &-preview-item {
    padding: 12px;
    border-bottom: 1px solid $c_main_border;
    height: 115px;
    overflow: hidden;
    @include bp(tablet) {
      padding: 8px;
      display: flex;
      align-items: center;
    }
    h3 {
      @include f_600;
      @include font-size(16);
      margin-bottom: 5px;
      @include bp(tablet) {
        text-align: center;
      }
    }
    p {
      @include font-size(15);
      overflow: hidden;
      position: relative;
      line-height: 22px;
      max-height: 66px;
      text-align: justify;
      margin-right: -10px;
      padding-right: 16px;
      @include bp(tablet) {
        display: none;
      }
      &:before {
        content: '...';
        position: absolute;
        right: 3px;
        bottom: 0;
      }
      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 1em;
        height: 1em;
        margin-top: 0.2em;
        background: $c_bg;
      }
    }
    &:hover {
      cursor: pointer;
      border-bottom: 1px solid $c_pink;
      h3 {
        @include f_700;
      }
    }
  }
  &-view {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-basis: 75%;
    @include bp(tablet) {
      flex-basis: auto;
    }
  }
  &-view-item {
    padding: 30px;
    overflow-y: scroll;
    @include bp(tablet) {
      padding: 15px;
    }
    h4 {
      @include f_600;
      @include font-size(24);
      margin-bottom: 5px;
    }
    span {
      font-style: italic;
    }
    p {
      margin-top: 10px;
      line-height: 24px;
    }
    img {
      max-width: 500px;
      margin: 15px auto;
      @include bp(tablet) {
        max-width: 100%;
      }
    }
  }
  &-no-preview {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    @include font-size(18);
    @include f_500;
    padding: 10px;
    text-align: center;
  }
}

.message-form {
  padding: 25px;
  border-top: 1px solid $c_main_border;
  position: relative;
  @include bp(tablet) {
    padding: 8px;
  }
  form {
    display: flex;
    flex-direction: row;
    border: 1px solid $c_gray_border;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: $c_white;
  }
  input {
    flex-grow: 2;
    @include font-size(15);
    @include ph('Source Sans Pro', 15px, $c_lightgray);
    &:hover,
    &:focus {
      outline: 0;
      box-shadow: none !important;
    }
  }
  button {
    color: $c_darkblue;
    background-color: $c_bg;
    @include f_600;
    @include font-size(16);
    height: 40px;
    padding: 0.5em 1em;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: solid 1px $c_darkblue;
    &:hover {
      background-color: $c_darkblue;
      color: $c_white;
    }
    &:disabled,
    &[disabled] {
      border: solid 1px $c_disabled;
      background-color: $c_disabled;
      color: $c_white;
    }
  }
  .warning-message {
    position: absolute;
    @include f_600;
    color: $c_darkblue;
    background-color: $c_white;
    top: -60px;
    padding: 10px;
    border: 1px solid $c_warning_border;
    right: 15px;
    z-index: 3;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    @include box-shadow(0, 2px, 5px, rgba(208, 216, 226, 1));
  }
  .warning-error {
    border: 1px solid $c_red;
  }
}
